// * {
//   box-sizing: border-box;
//   margin: 0;
//   padding: 0;
// }
.wrapper{
  height: 100vh;
}
.header{
  background-color: #3e3044;
  height: 8.6767vh;
  margin: 0;
}
.image-background{
  background-color: #312736;
  height: 37.1084vh;
  margin: 0;
}
.background{
  background-color: white;
  height: 54.2149vh;
  margin: 0;
}
.modalLogin{
  border-radius:8px;  
  background-color:#f1f1f1;
  height: 60vh;
  width: 45%;//45%;//44.53125%;
  top: 24.6987vh;
  //left: 27.734%;
  margin: 0px 27.5% 0px 27.5%;
  position: absolute;
  display: flex;
  justify-content: center;
  -webkit-align-content: center;
  align-content: center;
  box-shadow: 0px 11px 122px 0px rgba(21, 15, 24, 0.25);
}
.center{
  display: flex;
  justify-content: center;
  -webkit-align-content: center;
  align-content: center;
}
.imageLogo{
  margin: 5rem 0rem 0rem 0rem;
  width: 100%;
}
.title{
  margin: 0rem 1rem 5rem 1rem;
  font-size: 25.351px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.inputEmail{
  border-radius: 8px;
  background-color: white;
  font-size: 18px;
  outline: none;
  margin: 0.5rem;
  border: none;
  height: 7vh;
  width: 47.8rem;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  padding-left:10px;
  color: rgb(159, 163, 167);
  font-size: 15.251px;
}
.inputText{
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px; 
  background-color: white;
  font-size: 18px;
  outline: none;
  border: none;
  margin: 1rem 0rem 4rem 0.5rem;
  height: 7vh;
  width: 37rem;
  font-size: 15.251px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  padding-left:10px;
  color: rgb(159, 163, 167);
  font-size: 15.251px;
}
.buttonArrow{
  background-color: #20a766;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px; 
  width: 10.8rem;
  box-shadow: none;
  border: none;
  margin: 1rem 0.5rem 4rem 0rem;
  height: 7vh;
}
.imgArrow{
  width: 3rem;
  height: 3rem
}
.p__login--left{
  font-size: 16px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: rgb(121, 58, 152);
  font-weight: bold;
  line-height: 1.625;
  text-align: left;
}
.p__login--center{
  font-size: 15.251px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: rgb(130, 134, 139);
  line-height: 1.705;
  text-align: center;
  margin-left: 0.5rem;
}
